body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
}

.otp-container {
    text-align: center;
	padding:20px;
	border-radius:8px;
	box-shadow:0 0 10px rgba(0,0,0,0.1);
	/* background:#f4f4f4; */
	width:75%;
	border:2px solid black;
}

#verification_heading {
    font-size: 24px;
    margin-bottom: 10px;
}

#verification_subtext {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}
#note{
	background-color:#f4f4f4;
}
.code-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.code {
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.code.focused {
    border-color: #007bff; /* Change border color to blue */
    background-color: #e9f5ff; /* Optional: change background color */
}
